/node_modules
/coverage
/packages/*/lib
/packages/*/node_modules
/packages/*/.local
/.local
/packages/*/src/fixtures/**/node_modules/.cache
/packages/father-build/src/fixtures/build/*/dist
/packages/father/src/fixtures/e2e/normal/.doc
/packages/father/src/fixtures/e2e/normal/.docz
/packages/father/src/fixtures/doc/sass-options/.docz/
/.changelog
